<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>CloudSQL</title>

    <script type="text/javascript">
        paceOptions = {
            // Disable the 'elements' source
            elements: false,

            // Only show the progress on regular and ajax-y page navigation,
            // not every request
            restartOnRequestAfter: false
        }
    </script>

    <link rel="shortcut icon" href="assets/resources/img/codecloud-blue-24.png"/>
    <script type="text/javascript" src="assets/lib/ace/src-noconflict/ace.js"></script>
    <script type="text/javascript" src="assets/lib/ace/src-noconflict/ext-language_tools.js"></script>
    <!-- The line below must be kept intact for Sencha Cmd to build your application -->
    <script id="microloader" type="text/javascript" src="assets/bootstrap.js"></script>

</head>
<body></body>
</html>
